name: Build and publish Docker images (Reusable)
on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string  # Pass as JSON string
      publish:
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(inputs.matrix) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Login to Docker Registry
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1.7
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare environment variables
        run: |
          echo "IMAGE=ghcr.io/${{ github.repository }}/$(echo ${{ matrix.CONTEXT }} | cut -d / -f 2):${{ matrix.EXPORT_TAG || matrix.TAG }}" >> $GITHUB_ENV
          echo "BUILD_ARGS<<EOF" >> $GITHUB_ENV
          echo "TAG=${{ matrix.TAG }}" >> $GITHUB_ENV
          if [[ -n "${{ matrix.BASEIMAGE }}" ]]; then
            echo "BASEIMAGE=${{ matrix.BASEIMAGE }}" >> $GITHUB_ENV
          fi
          if [[ -n "${{ matrix.UPDATED }}" ]]; then
            echo "UPDATED=${{ matrix.UPDATED }}" >> $GITHUB_ENV
          fi
          echo "EOF" >> $GITHUB_ENV

      - name: Build Docker image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          context: ${{ matrix.CONTEXT }}
          containerfiles: ${{ matrix.CONTEXT }}/Dockerfile
          tags: ${{ env.IMAGE }}
          build-args: ${{ env.BUILD_ARGS }}

      - name: Test Docker image
        run: |
          podman run --rm -d --name target -p 2222:22 ${{ env.IMAGE }}
          sshpass -p demo ssh \
            -o "StrictHostKeyChecking no" \
            -o "KexAlgorithms $(ssh -Q kex | tr '\n' ',' | head -c -1)" \
            -o "Ciphers $(ssh -Q ciphers | tr '\n' ',' | head -c -1)" \
            -o "HostKeyAlgorithms $(ssh -Q key | tr '\n' ',' | head -c -1)" \
            demo@localhost -p 2222 echo "Hello from \$(whoami)@\$(cat /etc/hostname)"
          podman stop target

      - name: Publish Docker image
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        if: ${{ inputs.publish }}
        with:
          tags: ${{ env.IMAGE }}
