name: Scheduled builds for all containers
on:
  schedule:
    - cron: '0 0 * * 0'  # Weekly on Sunday at midnight UTC
  workflow_dispatch:

jobs:
  schedule:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Read full matrix
        id: matrix
        run: |
          MATRIX=$(cat matrix.json | jq -c .)
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

  build:
    needs: schedule
    uses: ./.github/workflows/build.yml
    with:
      matrix: ${{ needs.schedule.outputs.matrix }}
      publish: false
